@import "../_support/support";

// Flag

.flag {
    display: table;
    width: 100%;
}

.flag__img {
    display: table-cell;
    padding-right: $spacing-unit*4;
    vertical-align: middle;
}

.flag__img--right {
    padding-right: 0;
    padding-left: $spacing-unit*4;
}

.flag__body {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
