@import "../_support/support";

.text-hero {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -1px;
}

.text-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.1;
}

.text-subtitle {
    font-size: 2rem;
    letter-spacing: -0.5px;
    line-height: 1.2;
}

.text-meta {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.text-meta-smaller {
    font-size: 0.6rem;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text-body-larger {
    font-size: 1.4rem;
    line-height: 1.6;
}

.text-body {
    font-size: 1rem;
    line-height: 1.4;
}

.text-body-smaller {
    font-size: 12px;
    line-height: 1.6;
}
