@import "../_support/support";

.badge {
    border-radius: $radius * 0.5;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: $spacing-unit $spacing-unit*1.5;
    text-transform: uppercase;
    vertical-align: middle;
}
