@import "../_support/support";

.btn {
    background: transparent;
    border-radius: $radius;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding-top: $spacing-unit    * 4;
    padding-bottom: $spacing-unit * 4;
    padding-left: $spacing-unit   * 6;
    padding-right: $spacing-unit  * 6;
    position: relative;
    text-align: center;
    transition: background 100ms ease-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    z-index: nth($z-indexes, 1);

    -webkit-backface-visibility: hidden; // Fixes weird shifting on hover
    -webkit-tap-highlight-color: transparent; // Fixes a visual bug related to ios button taps
    -webkit-appearance: none; // Remove default gradient on mobile Safari buttons
}

@each $btn-name in map-keys($buttons) {
    $btn: map-get($buttons, $btn-name);
    $btn-hover: map-get($btn, hover);

    .btn--#{$btn-name} {
        background: map-get($btn, background);
        border: 1px map-get($btn, border) solid;
        color: map-get($btn, color);

        &:hover {
            background: map-get($btn-hover, background);
            border: 1px map-get($btn-hover, border) solid;
            color: map-get($btn-hover, color);
        }
    }
}

.btn-group {
    @include clearfix;
    display: inline-block;
}

.btn-group__btn {
    float: left;
    border-radius: 0;
    margin-left: -1px; // To account for border

    &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        margin-left: 0;
    }

    &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}
