body {
    font-family: "Avenir", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: normal;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
